* {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  width: 100%;
  height: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  header p {
    font-size: 0.18rem;
    color: #000; }

.a2 span {
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center; }

.a1 {
  width: 40%;
  height: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 0.08rem 0; }

.a1 > img {
  height: 0.5rem;
  margin-left: 0.02rem; }

.a2 {
  width: 30%;
  padding: 0.08rem 0;
  display: flex;
  justify-content: space-around; }

.a2 span i {
  font-size: 0.225rem;
  height: 0.225rem;
  color: #999; }

.a2 span a {
  font-size: 0.11rem;
  color: #999;
  margin-top: 0.03rem; }

#cc {
  width: 100%;
  height: 1.26rem; }
  #cc img {
    width: 100%;
    height: 1.26rem; }

.tie {
  width: 3.56rem;
  height: 0.24rem;
  background: #f4f4f4;
  display: flex;
  font-size: 0.12rem;
  color: #000;
  align-items: center;
  margin-top: 0.1rem;
  margin-left: 0.1rem; }
  .tie span {
    font-size: 0.12rem;
    color: #000;
    display: inline-block;
    margin-right: 0.05rem; }

.tit {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.18rem;
  color: #000;
  margin-top: 0.18rem; }

.tit1 {
  width: 100%;
  height: 0.43rem;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  font-size: 0.12rem;
  color: #999;
  align-items: center; }
  .tit1 p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.1rem; }

.tit2 {
  width: 100%; }
  .tit2 ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .tit2 ul li {
      width: 0.79rem;
      height: 0.16rem;
      font-size: 0.12rem;
      border: 0.01rem solid #eaeaea;
      text-align: center;
      line-height: 0.16rem;
      border-radius: 20%;
      margin-left: 0.06rem;
      margin-top: 0.09rem; }

.tit3 {
  width: 100%;
  font-size: 0.12rem;
  color: #666;
  margin-top: 0.18rem; }
  .tit3 p {
    text-indent: 2em; }

.tit4 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.77rem;
  margin-top: 0.15rem; }
  .tit4 img {
    width: 2.65rem;
    height: 1.77rem; }

.tit5 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem; }
  .tit5 input {
    width: 3.55rem;
    height: 0.35rem;
    border: none;
    border: 0.01rem solid #64D2A6;
    background: white;
    color: #64D2A6;
    font-size: 0.18rem; }

.tit6 {
  width: 100%;
  margin-top: 0.15rem; }
  .tit6 ul {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .tit6 ul li {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .tit6 ul li img {
        width: 0.5rem;
        height: 0.5rem; }
      .tit6 ul li p {
        font-size: 0.12rem;
        margin-top: 0.115rem; }
      .tit6 ul li p:nth-of-type(1) {
        color: #58B3F8; }

.tit7 {
  width: 100%;
  height: 0.54rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.25rem;
  border-bottom: 0.09rem solid #CCC; }
  .tit7 input {
    width: 3.55rem;
    height: 0.35rem;
    border: none;
    border: 0.01rem solid #64D2A6;
    background: white;
    color: #64D2A6;
    font-size: 0.18rem; }

.a5 {
  width: 100%;
  height: 0.24rem;
  display: flex;
  padding: 0.16rem 0; }

.a6 {
  width: 0.025rem;
  height: 0.24rem;
  background: #38C893;
  margin-left: 0.09rem; }

.a5 p {
  color: #000;
  font-size: 0.18rem;
  margin-left: 0.03rem; }

.a5 span {
  display: block;
  color: #999;
  font-size: 0.12rem;
  margin-top: 0.06rem;
  margin-left: 0.03rem; }

.b8 {
  width: 100%;
  display: flex;
  flex-direction: column; }

.b8 li {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #fafafa; }

.b8 li .c {
  width: 0.95rem;
  height: 0.725rem;
  margin-bottom: 0.151rem; }

.c img {
  width: 0.95rem;
  height: 0.725rem;
  margin-bottom: 0.151rem;
  margin-top: 0.06rem; }

.c1 {
  margin-left: 0.11rem;
  margin-top: 0.16rem;
  margin-bottom: 0.151rem; }

.c1 p:nth-of-type(1) {
  font-size: 0.18rem;
  color: #000;
  height: 0.45rem;
  line-height: 0.25rem; }

.c1 p:nth-of-type(2) {
  display: flex;
  margin-top: 0.11rem; }

.c1 p:nth-of-type(2) span {
  display: inline-block;
  display: flex;
  align-items: center;
  font-size: 0.14rem;
  color: #999; }

.c1 span img {
  width: 0.14rem;
  height: 0.14rem; }

.c1 p:nth-of-type(2) span:nth-of-type(2) {
  margin-left: 0.375rem; }

.c2 {
  width: 100%;
  padding: 0.18rem 0;
  border-bottom: 0.09rem solid #cccccc; }

.c2 p {
  text-indent: 2em;
  font-size: 0.14rem;
  color: #333; }

.b2 {
  width: 100%;
  margin-top: 0.18rem;
  display: flex;
  justify-content: space-around;
  border-bottom: 0.09rem solid #f4f4f4; }

.b2 button {
  width: 3.6rem;
  height: 0.35rem;
  font-size: 0.14rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #65D4A8;
  background: white;
  border: none;
  border: 0.01rem solid #F1F1F1;
  margin-bottom: 0.18rem; }

.b2 button img {
  width: 0.14rem;
  height: 0.14rem;
  margin-left: 0.03rem; }

.c4 {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative; }

.c8 {
  width: 0.47rem;
  height: 0.47rem;
  position: absolute;
  right: 0.12rem;
  top: -0.92rem; }

.c8 img {
  width: 0.47rem;
  height: 0.47rem; }

.c4 p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.14rem;
  color: #333;
  margin-top: 0.2rem; }

.c4 p img {
  width: 0.16rem;
  height: 0.16rem; }

.c5 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.05rem; }

.c5 li {
  font-size: 0.15rem; }

.t {
  width: 100%;
  height: 0.65rem;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 0.83rem;
  display: flex; }

.t1 {
  width: 0.19rem;
  height: 0.19rem;
  position: absolute;
  bottom: 1.3rem; }

.t1 img {
  width: 0.19rem;
  height: 0.19rem; }

.t2 {
  height: 0.53rem;
  margin-left: 0.21rem;
  position: relative;
  bottom: 0.46rem; }

.t2 img {
  height: 0.52rem;
  align-items: center; }

.t3 p:nth-of-type(1) {
  font-size: 0.16rem;
  color: #eed215;
  margin-top: 0.04rem; }

.t3 p:nth-of-type(2) {
  font-size: 0.16rem;
  color: white;
  margin-top: 0.04rem; }

.t button {
  width: 0.775rem;
  height: 0.25rem;
  color: white;
  background: #feb615;
  border: none;
  font-size: 0.12rem;
  border-radius: 30%;
  margin-left: 0.1rem;
  margin-top: 0.12rem; }

.c7 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative; }
  .c7 img {
    width: 100%; }

.zhe {
  width: 3.52rem;
  height: 2.235rem;
  position: absolute;
  top: 5.34rem;
  left: 0.13rem;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column; }
  .zhe .tu {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 0.4rem; }
    .zhe .tu li {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.17rem;
      color: white; }
      .zhe .tu li img {
        width: 0.72rem;
        height: 0.69rem; }
      .zhe .tu li p {
        margin-top: 0.125rem; }
  .zhe input {
    width: 2.825rem;
    height: 0.4rem;
    border: none;
    border: 0.01rem solid white;
    background: white;
    margin-left: 0.3rem;
    font-size: 0.14rem; }

/*# sourceMappingURL=css.css.map */
